version: "3.8"
services:
  mongo:
    image: mongo:5.0
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./database/db:/data/db
      - ./database/dev.archive:/Databases/dev.archive
      - ./database/production:/Databases/production
  
  mongo-express:
    image: mongo-express
    container_name: mexpress
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - ME_CONFIG_MONGODB_URL=mongodb://root:password@mongo:27017/?authSource=admin
      - ME_CONFIG_BASICAUTH_USERNAME=mexpress
      - ME_CONFIG_BASICAUTH_PASSWORD=mexpress
    links:
      - mongo
    restart: unless-stopped
    ports:
      - "3003:8081"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fastify-app
    ports:
      - "3002:3002"
    depends_on:
      - mongo
    environment:
      - NODE_OPTIONS=--import tsx
      - DB_DRIVER=mongodb
      - DB_HOST=mongo
      - DB_USER=root
      - DB_DATABASE=sistema-rachas
      - DB_AUTH_SOURCE=admin
      - DB_PASSWORD=password
      - DB_PORT=27017
      - PORT=3003
      - JWT_SECRET=diasdjp1dj12diasd-ascni1-23o1jdsad
      - SALTS_PASSWORD=10
